body {
  margin: 0px;
}
/* This is the styles for the outer wrapper. */
.footer-wrapper {
  background-color: rgb(40, 40, 40);
  padding: 30px 20px 5px 0px;
}
/* Inner container styles. */
.footer-cont {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Open Sans";
}
/* Logo Container and the inner text styles. */
.logo-cont {
  width: 20%;
}
.logo-cont img {
  width: 100%;
}
.logo-cont p {
  width: 80%;
  margin-left: 30px;
  font-size: 15px;
  color: rgb(215, 215, 215);
}
/* Styles for the Company & Products section. */
.quick-links,
.products-cont {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.quick-links a,
.products-cont a {
  text-decoration: none;
  color: white;
}
/* Newsletter input & button styles. */
.news-cont input {
  width: 100%;
  padding: 10px 0px 10px 10px;
  transform: translateY(-10px);
  border-radius: 6px;
  border: 0px solid;
}
.news-cont input:focus {
  outline: none;
}
.news-cont input:invalid {
  background-color: red;
  color: white;
}
.news-cont button {
  background-color: rgb(74, 74, 74);
  color: white;
  width: 105%;
  border: 0px solid;
  border-radius: 5px;
  padding: 10px 0px;
  font-size: 16px;
  cursor: pointer;
}
.news-cont button:hover {
  color: rgb(74, 74, 74);
  background-color: white;
  transform: scale(1.02);
  transition: all 0.2s ease;
}
/* Styles for the copyright section. */
.copyright {
  text-align: center;
  font-family: "Open Sans";
  color: white;
}
.copyright span {
  color: #007bff;
}
